@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Roboto:wght@400;500;700;900&display=swap");

* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 14.5px;
}

section {
  height: 100vh;
  width: 100vw;
  display: flex;
  background-color: rgb(225, 245, 255);
}

main {
  width: 280px;
  text-align: center;
  margin: auto;
  border-radius: 20px;
  background-color: rgb(255, 255, 255);
  box-shadow: 5px 10px 9px 5px rgba(0, 0, 0, 0.03);
}

img {
  height: 250px;
  width: 250px;
  margin-top: 15px;
  border-radius: 10px;
}

div {
  width: 230px;
  margin: 10px auto 30px;
}

h3 {
  padding-bottom: 10px;
  width: 98%;
}

p {
  font-size: 12px;
  color: rgb(146, 146, 147);
}
